$snow-color:     #fcfcfa;
$gainsboro:       #e2e6e3;
$white:           #ffffff;
$whitesmoke:      #f2f3f0;
$lightgray:       #d4d4d2;
$lightslategray:  #8c8d8b;
$darkslategray:   #4b5648;
$red:             #FF0000;
