.nav {
  display: flex;
  background: $snow-color;
  border-top: 1px solid $whitesmoke;
  border-bottom: 1px solid $whitesmoke;
  padding: 20px;
  height: 20px;
  
  .menu { 
    flex-basis: 50%;
    display: flex;

    span {
      padding: 0 10px;
    }
  }

  .cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 50%;

    &__count {
      border-radius: 50px;
      background-color: brown;
      padding: 10px;
      color: white;
      cursor: pointer;
      margin-left: 10px;
    }

  }
}
